<div class="explore">
    <div class="explore__devider">*****</div>
    <div class="explore__label">Find me elsewhere</div>
    <ul class="categories">
        {% for category in site.data.categories %}
            <li class="categories__item"><a href="{{ '/categories/' | append: category.slug | prepend: site.baseurl }}">{{ category.name }}</a></li>
        {% endfor %}
		<li class="categories__item"><a href="{{ '/' | prepend: site.baseurl }}">All
		Posts</a></li>
		<li class="categories__item"><a href="{{ 'https://github.com/' | prepend: site.github_username }}">All
		Posts</a></li>
    </ul>
</div>
